<div class="flex justify-center items-center mt-5 pt-2">
    <div class="border border-gray-300 md:w-1/3 w-full p-3">
        <h1 class="font-bold text-lg">{{formType}} Book</h1>
        <div class="my-3">
            <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
                <div class="pb-1">
                    <input class="border border-gray-300 mb-3 p-2 rounded w-full" type="text" formControlName="title" placeholder="Book name" />
                </div>
                <div class="pb-1">
                    <input class="border border-gray-300 mb-3 p-2 rounded w-full" type="text" formControlName="author" placeholder="Author name" />
                </div>
                <div class="pb-1">
                    <input class="border border-gray-300 mb-3 p-2 rounded w-full" type="date" formControlName="published_date" placeholder="Published date" />
                </div>
                <div class="pb-1">
                    <input class="border border-gray-300 mb-3 p-2 rounded w-full" type="text" formControlName="in_stock" placeholder="Available Stock" />
                </div>
                <div class="pb-1">
                    <button class="bg-green-600 text-white mb-3 p-2 rounded w-full" type="submit">{{formType}} BOOK</button>
                </div>
            </form>
        </div>
    </div>
</div>
